* {
  box-sizing: border-box;
  margin: 0;
  font-size: 14px;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* 
### Headings, Call-to-actions, Header Navigation

- Family: [Raleway](https://fonts.google.com/specimen/Raleway)
- Weights: 400, 700
font-family: 'Raleway', sans-serif;

### Body

- Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
- Weights: 400, 700
font-family: 'Open Sans', sans-serif;

*/
